*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffefc3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tauri', sans-serif;
    overflow-x: hidden;     
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #FFF4E4;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.02);
    z-index: 100;
}

.navbar img {
    width: 158px;
    position:absolute;
    top: -49px;
    left: 7px;
    height: auto;
    display: block;
    transition: transform 0.2s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px) rotate(-5deg); }
    40% { transform: translateX(5px) rotate(5deg); }
    60% { transform: translateX(-5px) rotate(-5deg); }
    80% { transform: translateX(5px) rotate(5deg); }
    100% { transform: translateX(0); }
}

.navbar img:hover{
    animation: shake 0.5s ease-in-out;
}

.nav-links {
    position: absolute;
    top: 18px;        
    left: 50%;                   
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-links li a {
    font-family: 'Tauri', sans-serif;
    text-decoration: none;
    color: #BE670C;
    font-size: 16px;
    position: relative;           
    display: inline-block;
    transition: color 0.3s ease; 
}

.nav-links li a::after {
    content: "";
    position: absolute;
    width: 0;                     
    height: 2px;                  
    bottom: -4px;                 
    left: 50%;                    
    background-color: #e89d08;
    transition: width 0.3s ease, left 0.3s ease;
}

@keyframes nav-bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-3px); }
    50%  { transform: translateY(0); }
    70%  { transform: translateY(-2px); }
    100% { transform: translateY(0); }
}

.nav-links li a:hover {
    color: #e89d08;
    animation: nav-bounce 0.4s ease;
}

.nav-links li a:hover::after {
    width: 100%;
    left: 0;
}

.nav-right {
    margin-left: auto;
    margin-top: 12px;
    margin-right: 18px; 
    display: flex;
    align-items: center;
    position: relative;
}

.order-btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: #FFC013;
    color: #563731;
    text-decoration: none;
    padding: 8.5px 16px;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

@keyframes wiggle {
    0% { transform: scale(1.1) translateX(0); }
    20% { transform: scale(1.1) translateX(-3px) rotate(-3deg); }
    40% { transform: scale(1.1) translateX(3px) rotate(3deg); }
    60% { transform: scale(1.1) translateX(-3px) rotate(-3deg); }
    80% { transform: scale(1.1) translateX(3px) rotate(3deg); }
    100% { transform: scale(1.1) translateX(0); }
}

.order-btn:hover {
    background-color: #BE670C;
    color: #FFF4E4;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.hero-section {
    text-align: center;
    z-index: 2;
    margin-top: 36px;
}

.hero {
    position: relative;
    z-index: 2; 
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    background: 
    url('images/BG2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 700px;
}

.hero-section h1{
    font-family: 'Agdasima', sans-serif;
    text-align:center;        
    font-size: 170px;
    font-weight: 600;
    color: #FFF4E4;
    text-transform: uppercase;
    letter-spacing: 0em;
    line-height: 1;

    text-shadow: 
        1.3px 0 #A75D2D,
       -1px 0 #A75D2D,
        0 1.3px #A75D2D,
        0 -1px #A75D2D;
}

.hero-section p{
    font-family: 'Alkatra', cursive;
    text-align:center;    
    font-size: 52px;
    color: #FFBB00;
    font-weight: 300;
    margin-bottom: -30px;

        
    text-shadow: 
        1px 0 #A75D2D,
       -0.9px 0 #A75D2D,
        0 1px #A75D2D,
        0 -0.9px #A75D2D;
}

/* Order Now Section */
.order-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.order-now-circle {
  width: 175.5px;       
  height: 87.8px;       
  border-radius: 0 0 85px 85px;
  background: #FFBB00;
  position: absolute;
  top: 136.5%;         
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;       
  box-shadow: 0 7px 7px rgba(0,0,0,0.05);
}

.arrow-circle {
  position: absolute;
  top: 119%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFBB00;
  color: #563731;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.order-now-btn {
  font-family: 'Agdasima', sans-serif;
  position: absolute;
  top: 136%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 152px;
  padding-top: 5px;
  border-radius: 50%;
  border: none;
  background: #F5F5F5;
  color: #563731;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 5px 7px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.order-now-btn:hover {
  transform: translate(-50%, -50%) scale(1.015);
  box-shadow: 0 5px 10px rgba(0,0,0,0.20);
}

.pie-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
}

@keyframes rotatePie {
    from {
        transform: translateX(-50%) translateY(79%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) translateY(79%) rotate(360deg);
    }
}

.pie {
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateX(-50%) translateY(90%);
    width: 205%; 
    height: auto;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    z-index: 1;
    animation: rotatePie 45s linear infinite;
}

.today-offer{
    font-family: 'Agdasima', sans-serif;
    position: absolute;
    left: 80%;
    top: 60vh;
    transform: translate(-50%, -50%);
    background: #FFC013;
    color: #563731;
    border: none;
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

.today-offer::before {
    content: '';
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    right: 0.4rem;
    bottom: 0.4rem;
    border: 1.5px dashed #563731;
    border-radius: 50%;
    pointer-events: none;
    animation: rotate 30s linear infinite;
}

.today-offer p{
    line-height: 0.9;
    text-align:center;
    margin-top: 40px;
    margin-left: auto;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #FFF4E4;
    width: 100vw;
    clip-path: path('M 0,0 L 0,110 L 1300,110 L 1300,0 Q 600,200 0,0');
    z-index: 2;
}


/* menu section */
.menu {
    background: #FFF4E4;
    color: #4a2b00;
    height: 95vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
}

.tagline {
  font-family: "Agdasima", sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 55px;
  color: #563731;
  line-height: 1;
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 25px;
}

.menu-links a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-links a:hover {
  text-decoration: none;
  color: inherit;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item img {
  width: 80px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.menu-item:hover img {
  transform: scale(1.15);
  filter: brightness(1.2);
}

.menu-item p {
  font-family: 'Agdasima', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 1.35rem;
}

.menu-item p::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #e89d08;
  transition: width 0.3s ease;
}

.menu-item:hover p::after {
  width: 90%;
}

.divider {
  width: 1.8px;
  height: 100px;
  background: #c7a86a;
}


/* story section */
.story-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 100px;
  background-color: #fff4e4;
  color: #3a2a1a;
  overflow: visible;
  gap: 40px;
}

.menu-line{
  position: absolute;
  width: 100%;
  height: 0.1px;
  top: 0%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.18);
  z-index: 100;
}

.background-text {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 160px;
  color: #FFC013;
  font-family: 'Agdasima', sans-serif;
  letter-spacing: -0.5px;
  z-index: 0;
  user-select: none;
  white-space: pre-line;
  pointer-events: none;
  line-height: 0.85;
}

.story-image {
  position: relative;
  z-index: 2;
  margin-left: 40px; 
  margin-top: -20px; 
}

.story-image img {
  width: 450px;
  height: auto;
  border-radius: 10%;
  margin-right: 60px;
}

/* TEXT CONTENT */
.story-text {
  max-width: 550px;
  position: relative;
  z-index: 3;
  margin-left: -41px;
}

.story-text h4 {
  font-family: 'Agdasima', sans-serif;
  font-size: 27px;
  color: #563731;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  font-weight: 700;
  position: relative;
  top: -20px; 
}

.story-text .line {
  display: inline-block;
  width: 50px;
  height: 2.9px;
  background-color: #563731;
  margin-right: 6px;
  margin-top: -1px;
}

.story-text h1 {
  font-size: 65px;
  color: #FFC013;
  margin-bottom: 1.3px;
  font-family: 'Agdasima', sans-serif;
  margin-top: -23px;
}

.story-text p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.contact-btn {
  font-family: 'Tauri', sans-serif;
  background-color: #FFC013;
  color: #563731;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
  transition: transform 0.25s ease, background-color 0.25s ease, color 0.25s ease;
}

.contact-btn:hover {
  background-color: #FFC013;
  color: #563731;
  transform: scale(1.03); 
}

/*FEEDBACK*/
#CONTACT a {    
    background-color: #ffc645;
    padding-inline: 15px;
    padding: 5px 20px;
    border-radius: 10px;
}

overlay {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFF4E4;
    position: relative;
    padding:170px 170px 700px 170px;;
    margin-top: 0vh;
}

overlay .FOOD-LOVERS {
    display:flex;
    position:absolute;
    left: 9.1%;
    top: 9.5%;
    color: #FFBB00;
    font-family: "Agdasima", sans-serif;
    font-weight:bold;
    font-size: 32px;
}

overlay #Satisfied {
    display:flex;
    top: 14%;
    position:absolute;
    left: 9%;
    color: #563731;
    font-family: "Agdasima", sans-serif;
    font-weight:bold;
    font-size: 50px;
    line-height: 0.9;
}

 overlay .name-feed {
    position: absolute;
    right: 34%;
    top: 25%;
    transform: rotate(90deg) translateX(50%);
    transform-origin: center;
    font-size: 1.6rem;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;
    color: #FFBB00;
    white-space: nowrap;
    margin: 0;
}

overlay .name-feed1 {
    position: absolute;
    right: 54%;
    top: 67%;
    transform: rotate(-90deg) translateX(50%);
    transform-origin: center;
    font-size: 1.6rem;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;
    color: #FFBB00;
    white-space: nowrap;
    margin: 0;
}

overlay .Line {
    display:flex;
    position: absolute;
    background-color:#A75D2D;
    width: 1px;
    height: 175px;
    right: 42%;
    top: 26%;
}

overlay .Line1{
    display:flex;
    position: absolute;
    background-color:#A75D2D;
    width: 1px;
    height: 175px;
    right: 57.3%;
    top: 50%;
}

overlay .DESC  {
    display:flex;
    position:absolute;
    left: 34%;
    right: auto;
    top: 28%;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    text-align: right;
}

overlay .DESC1 {
    display:flex;
    position:absolute;
    left: 45.3%;
    right: auto;
    top: 53%;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
}

overlay .five-stars {
    display:flex;
    color:white;
    position:absolute;
    background-color:#FFC013;
    max-width: 500px;
    border-radius:18px;
    top: 40%;
    right: 44.9%;
    padding-left:2.5vh;
    padding-right:2.5vh;
    padding-top:0.6vh;
    padding-bottom: 1.2vh;
}

overlay .five-stars1 {
    display:flex;
    color:white;
    position:absolute;
    background-color:#FFC013;
    max-width: 500px;
    border-radius:18px;
    top: 65.2%;
    right: 47.2%;
    padding-left:2.5vh;
    padding-right:2.5vh;
    padding-top:0.6vh;
    padding-bottom: 1.2vh;
}

.overlay-container1,
.overlay-container2     /*size ng box container ng feedback*/
{   
    display:flex;   
    flex-wrap: wrap;
    position: relative;
    width: 150px;
    max-width: 500px; 
    height: 180px;
    background-size: cover;
    overflow: hidden;
    background-image: url('images/pie-coffee.jpg');
    border: 10px solid #FFDCAA;
    border-bottom: 30px solid #FFDCAA;
    margin-right: 100px;
}   

.overlay-container1 {
    transform: rotate(-3deg) scale(1);
    z-index: 2;
    position: absolute;
    left: 67%;
    top: 25%; 
    background-position: 40% 45%; 
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container1:hover {

    transform: translateY(-15px) scale(1.10);
}

.overlay-container2 {
    position:absolute;
    left: 72%;
    top: 25%;
    transform: rotate(10deg);
    z-index: 1;
    background-image: url('images/fback1.jpg');
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container2:hover{
    transform: translateY(-15px) scale(1.10);
    z-index: 2;
}

.overlay-container3 {
   display:flex;   
    flex-wrap: wrap;
    position: relative;
    width: 150px;
    max-width: 500px; 
    height: 180px;
    background-size: cover;
    overflow: hidden;
    background-image: url('images/fback3.jpg');
    border: 10px solid #FFDCAA;
    border-bottom: 30px solid #FFDCAA;
    margin-right: 100px;
    transform: rotate(-3deg) scale(1);
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 50%; 
    background-position: 40% 45%; 
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container3:hover {
  transform: translateY(-15px) scale(1.10);
}

.overlay-container4 {
    display:flex;   
    flex-wrap: wrap;
    position: relative;
    width: 150px;
    max-width: 500px; 
    height: 180px;
    background-size: cover;
    overflow: hidden;
    background-image: url('images/fback2.jpg');
    border: 10px solid #FFDCAA;
    border-bottom: 30px solid #FFDCAA;
    margin-right: 100px;
    position:absolute;
    left: 22%;
    top: 50%;
    transform: rotate(10deg);
    z-index: 1;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container4:hover{

    transform: translateY(-15px) scale(1.10);
    z-index: 2;
}


/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130vw;
    height: 260px;
    background-color: #F1B102;
    position: relative;
    margin-top: -26vh;
    border-radius: 50% 50% 0 0;
    padding: 55px 45px 0;
    left: -15.5vw;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 35px 20px;
  max-width: 100%;
  position:relative;
  gap: 122px;
  top: -25px;
}

.footer-column {
  display: absolute;
  flex: 1;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

.footer-column h4 {
  font-family: "Agdasima", sans-serif;
  font-size: 20px;
  color: #563731;
  margin-bottom: 3px;
}

.footer-column p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #A75D2D;
  line-height: 1.5;
  white-space: nowrap;
  margin-bottom: -20px;
}

.social-icons {
  padding-top: 3%;
  display: flex;
  gap: 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  color: #563731;
  text-decoration: none;
  transition: background-color 0.3s;
  background-color: #ffe3bbc3;
}

.social-icons a:hover {
  background-color: #fff2a9;
}

.delivery-text{
  font-family: "Agdasima", sans-serif;
  position:absolute;
  top: 19%;
  color: #563731;
}

.delivery-title{
  font-family: "Agdasima", sans-serif;
  top: 19%;
  color: #563731;
}

.foot-line {
  position:absolute;
  width:100%;
  height:1px;
  background-color: #A75D2D;
  top: 80%;
}

.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 15px 10px;
  position: absolute;
  top: 81%;
}

.footer-links {
  display: flex;      
  gap: 56px;           
}

.footer-links a {
  font-family: 'Tauri', sans-serif;
  text-decoration: none;
  color: #A75D2D;
  font-size: 13.5px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #563731;
}

.trademark {
  font-family: 'Tauri', sans-serif;
  color: #A75D2D;
  font-size: 13.5px;
  margin-left: 52vh;
}

/* DROP DOWN */
#dropdown{
    position:relative;
}

.dropdown-content a {
    color:black;
}

.dropdown-content {
    display: none;
    position:absolute;
    top: 25px;
    left:0;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
}

#dropdown:hover > .dropdown-content {
    display:block;
}

/* --- Best Sellers Section --- */
.bestsellers {
  text-align: center;
  padding: 3.125rem 6.25rem 0 6.25rem; 
  background: #FFEACD;
  font-family: 'Agdasima', sans-serif;
}

.bestsellers h2 {
  font-size: 3.5rem; 
  margin-bottom: 0.2rem; 
  color: #563731;
}

.bestsellers p {
  color: #BE670C;
  font-size: 1.3rem; 
  letter-spacing: 0.0125rem; 
  margin-bottom: 2rem; 
  font-family: 'Tauri', sans-serif;
  letter-spacing: normal;
}


.bestseller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* both sa bestseller group */ /*dito yunn*/
.bestseller-item {
  position: relative;
  width: 17.55rem;
  height: 21.65rem; 
}

/*default state*/
.card {
  background: #FFF0DA;
  border-radius: 0.1875rem; 
  box-shadow: 0 0.15rem 0.15rem rgba(0,0,0,0.0.5); 
  padding: 0.9rem; 
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  inset: 0;
  border-radius: 1.5rem; 
}

.card img {
  width: 85%;
  border-radius: 0.625rem; 
  margin-bottom: 0.625rem; 
  display: block;
  margin: 0 auto;
}

.card h3 {
  font-size: 1.8rem; 
  color: #BE670C;
  font-family: 'Agdasima', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0rem;
  margin-top: 7px;
}

.card p {
  font-size: 0.9rem; 
  color: #6e4c00;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.70rem;  
}


.info-box {
  background: #FFF0DA;
  border-radius: 2rem; 
  box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.01); 
  padding: 2rem 2.5rem; 
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  gap: 5rem; 
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: all 0.4s ease;
  position: absolute;
  width: 31.2rem; 
  height: 21.65rem; 
  overflow: visible;
}

/* Apple info on the left */
.apple-info {
  right: 0%;
  flex-direction: row-reverse;
}

/* French info on the right */
.french-info {
  left: 0%;
}

.info-box img {
  width: 18.1rem; 
  height: 18.1rem;
  border-radius: 0.75rem; 
  object-fit: cover;
  display: block;
  margin: 0 -23%;
}

.info-text h3 {
  display: flex;
  color: #BE670C;
  font-size: 2rem; 
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem 0 1.25rem; 
  text-transform: uppercase;
  font-family: 'Agdasima', sans-serif;
  position: relative;
  top: -6px;
}

.info-text h4 {
  color: #FFBB00;
  font-weight: 600;
  font-size: 1.47rem;
  font-family: 'Agdasima', sans-serif;
  padding: 0 1.5625rem 0 1.25rem;
  position: relative;
  top: -13px; 
}

.info-text p {
  font-size: 1.1rem;
  color: #563731;
  max-width: 17.5rem;
  font-family: "Roboto", sans-serif;
  padding: 0 2.5rem 0 1.25rem;
  text-align: end;
  position: relative;
  top: -1px; 
}

/*  both pies */
.info-text h3, 
.info-text h4, .info-text p {
  margin: 0.4rem 0;
}

/* AWP (title left, price right) */
.apple-info .info-text h3,
.apple-info .info-text h4,
.apple-info .info-text p {
  flex-direction: row;
  text-align: left;
  padding: 0 1.8rem 0 0;
}

/* FAP (title right, price left) */
.french-info .info-text h3,
.french-info .info-text h4,
.french-info .info-text p {
  flex-direction: row-reverse; 
  text-align: right;
  padding: 0 0 0 1.8rem;
}


.order-btn2 {
  font-family: 'Tauri', sans-serif;
  background: #FFC013;
  color: #563731;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 8.5px 16px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
  transform: scale(1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  margin-top: 15px;  
}
.left-btn {
  align-self: flex-start;  
  margin-right: auto;       
  margin-left: 75px;           
}


.right-btn {
  align-self: flex-end;     
  margin-left: auto;        
  margin-right: 75px;
}

.order-btn2:hover {
  background-color: #BE670C;
  color: #FFF4E4;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* --- Hover Behavior --- */
.bestseller-item:hover .card {
  opacity: 0;
  transform: scale(0.9);
}

.apple-item:hover .apple-info {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.french-item:hover .french-info {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.signature {
  text-align: center;
  padding: 0;
  margin: 0;
}

.signature h2 {
  font-size: 12.5rem; 
  font-weight: 600;
  font-family: 'Agdasima', sans-serif;
  color: #fff4e4;
  text-transform: uppercase;
  bottom: 1.5rem; 
  padding: 0;
  position: relative;
  z-index: 1;
  margin-top: 1.25rem; 
  margin-bottom: -7.5rem; 
}

.view-button {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.view-menu-btn {
  font-family: 'Agdasima', sans-serif;
  position: absolute;
  left: 50%;
  top: 0.5vh;
  transform: translate(-50%, -50%);
  background: #FFBB00;
  color: #563731;
  border: none;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  font-weight: 700;
  font-size: 2rem; 
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 0.375rem 0.75rem rgba(0,0,0,0.1); 
  transition: all 0.3s ease;
  z-index: 2;
}

.view-menu-btn:hover {
  background: #ffb800;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 0.625rem 1.125rem rgba(0,0,0,0.07); 
}


@media (max-width: 1024px) {

    .nav-links {
        gap: 25px;
        font-size: 14px;
    }

    .navbar img {
        width: 130px;
        top: -40px;
    }

    .hero-section h1 {
        font-size: 120px;
    }

    .hero-section p {
        font-size: 42px;
    }

    .today-offer {
        left: 75%;
    }

    .pie {
        width: 170%;
    }
}

@media (max-width: 768px) {

    .nav-links {
        gap: 18px;
        font-size: 13px;
    }

    .navbar img {
        width: 110px;
        top: -30px;
    }

    .order-btn {
        padding: 6px 12px;
        font-size: 12px;
    }

    .hero-section h1 {
        font-size: 85px;
    }

    .hero-section p {
        font-size: 32px;
    }

    .order-now-circle {
        width: 140px;
        height: 70px;
    }

    .order-now-btn {
        width: 120px;
        height: 120px;
        font-size: 26px;
    }

    .pie {
        width: 200%;
    }
    .today-offer {
        width: 6rem;
        height: 6rem;
        left: 70%;
        top: 65vh;
        font-size: 20px;
    }
}

@media (max-width: 480px) {

    .navbar img {
        width: 95px;
        top: -25px;
        left: 5px;
    }

    .nav-links {
        gap: 12px;
        font-size: 11px;
    }

    .order-btn {
        padding: 5px 10px;
        font-size: 11px;
    }

    .hero-section h1 {
        font-size: 58px;
    }

    .hero-section p {
        font-size: 24px;
    }

    .order-now-circle {
        width: 120px;
        height: 60px;
    }

    .order-now-btn {
        width: 100px;
        height: 100px;
        font-size: 22px;
    }

    .today-offer {
        width: 4.8rem;
        height: 4.8rem;
        top: 62vh;
        left: 68%;
        font-size: 14px;
    }
    
    .pie {
        width: 260%;
    }
}
@media (max-width: 900px) {
    .pie {
        width: 240%;
        left: 50%;
        transform: translateX(-50%) translateY(90%);
    }

    .order-now-circle {
        top: 140%;
    }
}

@media (max-width: 600px) {
    .pie {
        width: 300%;
        left: 50%;
        transform: translateX(-50%) translateY(92%);
    }

    .order-now-circle {
        top: 150%;
    }

    .order-now-btn {
        top: 150%;
    }
}

@media (max-width: 480px) {
    .pie {
        width: 350%;
        left: 50%;
        transform: translateX(-50%) translateY(95%);
    }

    .order-now-circle {
        top: 160%;
    }

    .order-now-btn {
        top: 160%;
    }

    .today-offer {
        top: 70vh;
    }
}

@media (max-width: 1024px) {
footer {
    width: 120vw;
    left: -10vw;
    height: 230px;
    padding: 45px 35px 0;
  }

  .footer-info {
    gap: 80px;
    transform: scale(0.95);
  }

  .footer-column h4 { font-size: 18px; }
  .footer-column p { font-size: 14px; }

  .footer-links a,
  .trademark { font-size: 13px; }

  .delivery-text {
    font-size: 18px;
  }

  .delivery-title {
    font-size: 28px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .trademark {
    font-size: 14px;
    margin-left: 25vh; 
  }
}


@media (max-width: 768px){

      footer {
    width: 135vw;
    left: -17vw;
    height: 210px;
    padding: 40px 30px 0;
  }

  .footer-info {
    gap: 50px;
    transform: scale(0.88);
  }

  .footer-column h4 { font-size: 17px; }
  .footer-column p { font-size: 13px; }

  .social-icons a {
    width: 28px;
    height: 28px;
  }

  .footer-links {
    gap: 30px;
  }

  .delivery-title {
    font-size: 24px;
  }

  .delivery-text {
    font-size: 16px;
    top: 17%; 
  }

  .footer-links {
    gap: 25px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .trademark {
    font-size: 13px;
    margin-left: 0; 
  }
}

  @media (max-width: 480px) {


    footer {
    width: 150vw;
    left: -25vw;
    height: 200px;
    padding: 38px 25px 0;
  }

  .footer-info {
    gap: 30px;
    transform: scale(0.82); 
  }

  .footer-column h4 { font-size: 16px; }
  .footer-column p { font-size: 12.5px; }

  .social-icons a {
    width: 26px;
    height: 26px;
  }

  .footer-links a,
  .trademark {
    font-size: 12px;
  }

  .footer-links { 
    gap: 20px; 
 }

  .delivery-text {
    font-size: 13.5px;
    top: 20%; 
  }

  .delivery-title {
    font-size: 5px;
    top: 20%;
  }

  .footer-links {
    gap: 15px;
  }

  .footer-links a {
    font-size: 11.8px;
  }

  .trademark {
    font-size: 11.8px;
    margin-left: 0; 
    text-align: center;
    width: 100%;
  }
}




