body{

    margin: 0;
    padding:0;
}


nav { /*background color ng navigation */

    background-color: black;
    padding:30px 30px;
    
}

nav ul { /*itsura ng list pati positioning */

    list-style:none;
    margin: 0;
    padding-right: 20px;
    display:flex;
    align-items: right;
    text-align: right;
    justify-content: right;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
}

    




nav ul li {     /*spacing ng each list */

    position:relative;
    margin-right: 10px;
    
    
     
}

nav ul li a {   /*itsura ng list a href */

    
    color:white; 
    text-decoration: none;
    font-weight: bold;
    padding: 30px 30px;
    font-size: 17px;
    
    
}

nav ul li ul {      /*dropdown content  */

    display:none;
    position:absolute;
    top:50px;
    background-color: black;
    padding: 10px 9px;
    min-width: 115px;
    border: 1px solid #333;
    z-index: 1000;
}

nav ul li ul li {  /*positioning ng list pie and tarts */
    margin: 0;

}

nav ul li ul li a {  /*positining ng a href ng pie and tarts */

    display:block;
    padding: 8px 15px;
}

nav ul li ul li a:hover {   /*itsura ng hover sa pie and tarts */
    background-color: white;
    color: black;
}

nav ul li:hover > ul {  /*para lumabas ung dropdown content na pie and tarts sa menu  */
    display:block;
}

nav ul li a:hover { /*hover ng navigation menu */

    
    color:black;
    background-color: white;
    
    
}
    
.logo {   /*position ng logo dito */

    position: relative;
    right: 900px;
    
}


