*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffefc3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tauri', sans-serif;

    background: 
    linear-gradient(rgba(255, 217, 164, 0.7), rgba(255, 217, 164, 0.7)), 
    url('images/BG2.png') no-repeat center center;
    background-size: 1280px;
    background-position: 100px 200px 100px 200px;
    background-attachment: fixed;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #FFF4E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.02);
    z-index: 100;
}

.navbar img {
    width: 160px;
    position:absolute;
    top: -49px;
    left: 10px;
    height: auto;
    display: block;
}

.nav-links {
    position: absolute;
    top: 19px;        
    left: 50%;                   
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-links li a {
    font-family: 'Tauri', sans-serif;
    text-decoration: none;
    color: #BE670C;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #8b4709;
}

.hero-section h1{
        font-family: 'Agdasima', sans-serif;
        text-align:center;        
        font-size: 150px;
        font-weight: 600;
        color: #FFF4E4;
        text-transform: uppercase;
        letter-spacing: 0em;
        text-shadow: 
            -1px -1px 0px #A75D2D,
             2px -1px 0px #A75D2D,
            -1px 1px 0px #A75D2D,
            1px 1px 0px #A75D2D;
        line-height: 1;
}

.hero-section p{
        font-family: 'Alkatra', cursive;
        text-align:center;    
        font-size: 50px;
        color: #f4c430;
        font-weight: 300;
        margin-bottom: -30px;
            text-shadow: 
            -1px -1px 0px #d4691b,
            1px -1px 0px #d4691b,
            -1px 1px 0px #d4691b,
            1px 1px 0px #d4691b;
}

.nav-right {
    margin-left: auto;
}

.order-btn {
    text-transform: uppercase;
    background-color: #FFC013;
    color: #563731;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.order-btn:hover {
    background-color: #BE670C;
    color: #FFF4E4;
}

#CONTACT a {    
    background-color: #ffc645;
    padding-inline: 15px;
    padding: 5px 20px;
    border-radius: 10px;
}

overlay {  /*positioning ng feedback*/
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 1000px;
}

.overlay-container1,
.overlay-container2,        /*size ng box container ng feedback*/
.overlay-container3 {   
    position: relative;
    width: 100%;
    max-width: 300px; 
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('images/feedback-img.png');
    border: 2px solid #d66920;
}

.overlay-content1,
.overlay-content2,
.overlay-content3  {   /*positioning ng text inside sa box container*/
    position:absolute;
    top:15%;
    left:1%;
    padding-bottom: 10px;
    text-align:center;
}

.overlay-container2 {
    margin-left: 0; 
    top: 0; 
}

.overlay-container1 {
    margin-left: 0;
}

#dropdown{
    position:relative;
}

.dropdown-content a {
    color:black;
}

.dropdown-content {
    display: none;
    position:absolute;
    top: 25px;
    left:0;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
}

#dropdown:hover > .dropdown-content {
    display:block;
}

.nav-links li a:hover {
    color: #c66b0c;
    
}






