*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffefc3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

    background: 
    linear-gradient(rgba(255, 239, 195, 0.9), rgba(255, 239, 195, 0.9)), /* light overlay */
    url('images/BG\ HOME.jpg') no-repeat center center;
    background-size: 1500px;
    background-position: 100px 200px 100px 200px;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    top: 0%;
    position:sticky;
}

.navbar img {
    width: 225px;
    display: flex;
    margin-top: -50px;
    margin-left: 30px;
    transform:translateY(-17px);
}

.nav-links {
    display: inline-flex;
    gap: 35px;
    list-style: none;
    transform:translateY(-40px);
    margin-right: 60px;
}


.nav-links li a {
    text-decoration: none;
    color: #563731;
    font-size: 18px;
}

#CONTACT a {    
    background-color: #ffc645;
    padding-inline: 15px;
    padding: 5px 20px;
    border-radius: 10px;
}


overlay {  /*positioning ng feedback*/
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 1000px;
}

.overlay-container1,
.overlay-container2,        /*size ng box container ng feedback*/
.overlay-container3 {   
    position: relative;
    width: 100%;
    max-width: 300px; 
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('images/feedback-img.png');
    border: 2px solid #d66920;
}

.overlay-content1,
.overlay-content2,
.overlay-content3  {   /*positioning ng text inside sa box container*/
    position:absolute;
    top:15%;
    left:1%;
    padding-bottom: 10px;
    text-align:center;
}

.overlay-container2 {
    margin-left: 0; 
    top: 0; 
}

.overlay-container1 {
    margin-left: 0;
}

#dropdown{
    position:relative;
}

.dropdown-content a {

    color:black;
}

.dropdown-content {

    display: none;
    position:absolute;
    top: 25px;
    left:0;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
}

#dropdown:hover > .dropdown-content {

    display:block;
}

.nav-links li a:hover {

    color: #c66b0c;
    
}

.hero-section h1{
    font-size: 70px;
}






