*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffefc3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

    background: 
    linear-gradient(rgba(255, 239, 195, 0.9), rgba(255, 239, 195, 0.9)), /* light overlay */
    url('images/BG\ HOME.jpg') no-repeat center center;
    background-size: 1500px;
    background-position: 100px 200px 100px 200px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    position: sticky;
    top: 10%;
}

.navbar img {
    width: 225px;
    display: flex;
    margin-top: -60px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
    margin-bottom: 70px;
    margin-right: 60px;
}


.nav-links a {

    text-decoration: none;
    color: #563731;
    font-size: 18px;
    
}


#dropdown{
    position:relative;
}

.dropdown-content a {

    color:black;
}

.dropdown-content {

    display: none;
    position:absolute;
    top: 25px;
    left:0;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
}

#dropdown:hover > .dropdown-content {

    display:block;
}

.nav-links li a:hover {

    color: #c66b0c;
    
}

.hero-section h1{
    font-size: 70px;
}






